#  Local .terraform directories
.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# tardigrade-ci
.tardigrade-ci
tardigrade-ci/

# terraform lock-file
.terraform.lock.hcl

# python-related caches
tests/__pycache__/
src/__pycache__/

# Logs
aws-pr-reminders.log

# Lambda builds
builds/
